 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Node Page Using Express and Mustache</title>
		<!-- links contain actual path to css and icon -->
		<link rel="icon" sizes="32x32" type="image/png" href="./favicon.png">	
		<link rel="stylesheet" type="text/css" href="./style.css" media="screen">
	</head>
	<body>
		<img src="./nodeLogo.png" alt="Node.js" />
		<div class="content">
			<p>You have reached a home page rendered by Node.js using Mustache.js templating engine.</p>
			{{#appData}}
				<h2>{{name}}</h2>
				<p><img src="./{{image}}" alt="{{name}}" height="150" width="150" />{{description}}</p>
				<br/>	
			{{/appData}}
		</div>
	</body>
</html> 