body {
	background: #000000;
}

.content{
	float:left;
	clear: both;
	margin: 50px;
}

h1{
	color: #fff;
}

p{
	color: #ccc;
	font-size: 1.2em;
}

ul li {
	color: yellowgreen;
	font-size: 2em;
}

img{
	margin: 50px;
	float: left;
	clear: both;
}