body {
	background: #000000;
}

.content{
	margin: 10px 50px;
}

h2{
	color: #fff;
	clear: both;
}

p{
	color: yellowgreen;
	font-size: 1.4em;
}

img{
	margin: 50px;
}

p > img {
	float:left;
	border: solid 4px yellowgreen;
}